body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #2d2d2d;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Download CSS Button */
#download {
  position: fixed;
  top: 1rem;
  left: 35%;
  padding: 0.25rem 0.5rem;
  background-color: #34495e;
  color: #f4d03f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: #000 1px 1px 1px;
  z-index: 1000;
}

#download:hover {
  background-color: #000;
  color: #f4d03f;
  text-shadow: #e74c3c 1px 1px 1px;
}

#download:active {
  background-color: #e74c3c;
  color: #fff;
}

h1 {
  margin: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #558b2f;
  text-shadow: #000 2px 2px 2px;
  border-bottom: 1px solid #fff;


  > span {
    color: #000;
    text-shadow: #fff 1px 1px 1px;
  }
}

h2 {
  margin: 0;
  padding: 0;
  text-shadow: #000 2px 2px 2px;
  color: #f4d03f;
  font-size: 1.25rem;
}

h3 {
  margin: 0;
  padding: 0;
}

h4,
h5 {
  margin: .5rem 0 0 0;
  padding: 0;
}

a {
  color: #5dade2;
  text-shadow: #000 1px 1px 1px;
}

a:hover {
  background-color: #21618c;
  color: #f7dc6f;
}

a:active {
  background-color: #e74c3c;
  color: #f5b041;
}

b {
  color: #f4d03f;
  font-weight: 400;
}

strong {
  color: #f5b041;
  /* #26a69a; */
  font-weight: 400;
}

.container {
  display: flex;
  gap: 0 1rem;
  margin: 0 1rem;
  align-items: flex-start;
  /* Ensures children stay aligned at the top */
  height: auto;
}

.column {
  flex: 1;
  padding: 0.5rem;


  h2 {
    margin-top: 0;
  }
}

.insert_elements {
  margin: 1rem 0 1.5rem 0;
  font-size: .85rem;
  line-height: 1.2;
}

label {
  line-height: 1.7;
  margin-bottom: 0.25rem;
  width: 100%;
  max-width: 100%;
  display: inline-block;

  >span {
    display: inline-block;
  }
}

#elements {
  margin: 0;
  padding: 1rem 0.5rem;
  border: 1px solid #515a5a;
  border-bottom: 2px solid #336633;
  border-top: 2px solid #336633;
  border-radius: 4px;
  background-color: #292929;

  h3,
  h4 {
    text-shadow: #000 2px 2px 2px;
    ;
  }

  h3 {
    margin-bottom: .25rem;
    padding: .25rem .5rem .25rem 0.5rem;
    border-left: 3px solid #336633;
    background-color: #000;
    border-radius: 4px;
    width: fit-content;
    font-weight: 400;
  }

  > div:not(:first-child) > h3 {
    margin-top: .75rem!important; /* or whatever style you want */
  }

  h4 {
    color: #f4d03f;
    margin-bottom: .25rem;
  }

  button {
    margin: .5rem 0 .5rem 0;
  }

  /*
  input {
    margin: 0 !important;
    width: calc(62.75%);
    max-width: calc(62.75%);
  }
*/

  >div div h3 {
    margin: 0.5rem 0;
    padding: 0;
  }
}

#output {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #515a5a;
  border-bottom: 2px solid #336633;
  border-top: 2px solid #336633;
  border-radius: 4px;
  background-color: #000;
  white-space: pre-wrap;
}

.label-text {
  width: 35%;
  max-width: 35%;
  font-size: .8rem;
}

input {
  /* margin: 0 0.25rem; */
  width: calc(60.5%);
  max-width: calc(60.5%);
}

select {
  width: 62.5%;
  max-width: 62.5%;
}

form {
  margin-bottom: 1rem;
  padding: 0;
}

.exportJSON {
  margin-bottom: 1rem;
}

#layout-info {
  position: fixed;
  top: 4.4rem;
  left: 0.15rem;
  width: 26%;
  height: 89.5%;
  overflow-y: auto;
  background-color: #000;

  h2 {
    font-size: 1rem!important;
    margin-bottom: .5rem;
  }

  p {
    font-size: .85rem;
    line-height: 1.2!important;
  }
}

#layout-info::before {
  content: "Instructions specific to the layout selected on the dropdown menu.";
  display: block;
  color: #c8e6c9;
  margin-bottom: 0.5rem;
  padding: .1rem 0;;
  width: fit-content;
  text-shadow: #000 1px 1px 1px;
  border-radius: 4px;
  font-size: .85rem;
}

#instructions {
  position: fixed;
  top: 4.4rem;
  right: 0.15rem;
  width: 51.55%;
  height: 90%;
  overflow-y: auto;
  background-color: #34495e;
}

#middle {
  margin: 4.4rem 0 0 26.6%;
  padding-bottom: 0.;
  width: 19.9%;
  max-width: 19.9%;
  background-color: #336633;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;


  form h2:first-child {
    margin-bottom: 1rem;
  }
  span, p {
    text-shadow: #000 1px 1px 1px;
  }
}

.small {
  padding: 0;
  margin: 0.5rem 0;

  li {
    padding: 0;
    margin: 0 0 0.25rem 0;
    font-size: 0.75rem !important;
  }
}

.large {
  padding: 0;
  margin: 1rem 0;

  li {
    padding: 0;
    margin: 0 0 0.25rem 0;
    font-size: .9rem !important;
  }
}

.json_instructions {
  text-shadow: #000 1px 1px 1px;

  .instruction_title {
    color: #fff;
    text-shadow: #000 1px 1px 1px;
    margin: 0.5rem 0;
    border-radius: 4px;
    width: fit-content;
  }

  p {
    margin: 0.5rem 0;
    text-align: justify;
    font-size: 0.75rem;
  }

}

.contain-notes {
  border: 1px solid #000;
  padding: .5rem .5rem;
  margin-top: 1rem;
  background-color: #2d2d2d;

  h5 {
    margin: 0;
    padding: 0;
    font-size: .8rem;
    font-weight: 400;
  }

  h5:first-child {
    margin-bottom: .5rem;
  }
}

.oneline {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 100% !important;
  margin-bottom: 0.75rem;
  text-shadow: #000 1px 1px 1px;
  flex-wrap: nowrap; /* keep everything on one line */

 strong {
  display: inline;
 }

  h2 {
    margin: 0 1rem 0 0 !important;
    padding: 0 !important;
    flex: 0 0 auto; /* only use as much space as the content needs */
    white-space: nowrap; /* prevent line break */
    font-size: 1.1rem;
  }

  h5 {
    margin: 0 !important;
    padding: 0 .3rem 0 0!important;
    flex: 1 1 0%; /* take the rest of the row */
    min-width: 0;
    display: flex;
    flex-wrap: wrap; /* wrap content inside */
    justify-content: flex-start;
    text-align: justify;
    font-size: .7rem;
  }
}

#layout_CustomizationInputContainer,
#headInputContainer,
#fadeInputContainer,
#timerStyleInputContainer,
#beginRotationInputContainer,
#endRotationInputContainer,
#launchInputContainer,
#launchWaitSlideInputContainer,
#launch-wait-classInputContainer {
  margin-left: 36%;
  width: 100%;
  margin-top: .15rem;
  margin-bottom: .3rem;

  input {
    width: 100%;
    background-color: gray;
    color: #fff;
  }
}

span[id^="qrIdInputContainer_"],
span[id^="qrFileInputContainer_"],
span[id^="altIdInputContainer_"],
span[id^="altFileInputContainer_"],
span[id^="altBgInputContainer_"],
span[id^="titleClassInputContainer_"] {
  margin-left: 36%;
  width: 100%;
  margin-top: .15rem;
  margin-bottom: .3rem;

  input {
    width: 100%;
    background-color: gray;
    color: #fff;
  }
}

::placeholder {
  color: #fff; /* or any color you want */
  opacity: 1;  /* optional: ensures it's fully opaque in some browsers */
}

.short {
  height: 5px;
  max-height: 5px;
}
